[user]
  email = sharparam@sharparam.com
  name = Adam Hellberg
  signingkey = C58C41E27B00AD04
[push]
  default = simple
[github]
  username = Sharparam
[gui]
  spellingdictionary = none
[core]
  autocrlf = input
[commit]
  gpgsign = true
[branch "main"]
  mergeoptions = --no-ff
[branch "master"]
  mergeoptions = --no-ff
[branch "develop"]
  mergeoptions = --no-ff
[pull]
  #rebase = true
  ff = only
[tag]
  forceSignAnnotated = true
[ghq]
  root = ~/.ghq
  root = ~/repos
[init]
  defaultBranch = main
