[user]
	email = sharparam@sharparam.com
	name = Adam Hellberg
	signingkey = C58C41E27B00AD04
[push]
	default = simple
[github]
    username = Sharparam
[gui]
	spellingdictionary = none
[core]
	autocrlf = input
[commit]
	gpgsign = true
[ghq]
    root = ~/repos
    root = ~/.ghq
